# Ignore files without extension
# Ignore everything ... except a) files with extensions b) directories
*
!*.*
!*/

# Ignore Apple stuff
**/.DS_Store

# ignore object files
*.o

# ignore the output image of Edinburgh castle
output.pgm

# Editor wreckage

*~
